* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.bg-green {
  background: #709b1d;
}
.bg-light-green {
  background: #83b228;
}
.nav-item > a {
  padding: 10px 15px;
  transition: all 0.5s ease;
  color: #fff;
  text-decoration: none;
  margin-right: 5px;
}
.dropdown-menu {
  min-width: 0 !important;
  padding: 0 15px;
}
.nav-item > a:hover,
.nav-item > a.active,
.dropdown a {
  text-decoration: none;
  background: #fff;
  color: #709b1d !important;
  border-radius: 0 0 3px 3px;
}
.dropdown a {
  padding: 5px 5px;
}
.add {
  position: relative;
}
.add i {
  padding: 10px;
  background: #709b1d;
  color: #fff;
  cursor: pointer;
}
.add span {
  border-radius: 50%;
  background: #709b1d;
  border: 2px solid #fff;
  position: absolute;
  top: -14px;
  right: -10px;
  height: 25px;
  width: 25px;
  font-size: 12px;
  text-align: center;
  color: #fff;
}
.search {
  border-radius: 0;
}
.search-form {
  position: relative;
}
.bg-grey {
  background-color: #f3f3f3;
}
.menu-2 a {
  color: #709b1d;
  text-decoration: none;
  padding: 8px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 1px transparent;
}
.menu-2 a:hover,
.menu-2 a.active {
  background: #709b1d;
  color: #fff;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
}
.carousel-item {
  position: relative;
}
.carousel-item a {
  position: absolute;
  top: 68%;
  left: 42%;
  background: #82b45c;
  color: #fff;
  text-decoration: none;
  padding: 8px 40px;
  border-radius: 5px;
  box-shadow: 0 2px 1px #6da145;
  letter-spacing: 5px;
}
.carousel-control-next-icon {
  background: url("./images/right.png");
  background-position: center;
  background-size: cover;
  height: 40px;
  width: 40px;
}
.carousel-control-prev-icon {
  background: url("./images/left.png");
  background-position: center;
  background-size: cover;
  height: 40px;
  width: 40px;
}
.carousel-control-next,
.carousel-control-prev {
  width: 4%;
}
.carousel-indicators li {
  height: 20px;
  width: 20px;
  border-radius: 4px;
  background: #4b6e08;
  border: 0;
}
.tele-text p {
  font-size: 12px;
}
.filter-section button {
  border: none;
  outline: none;
  color: #fff;
  background: transparent;
  margin-right: 15px;
  padding: 10px 15px;
  border-radius: 4px 4px 0 0;
  transition: all 0.5s ease;
}
.filter-section .laptop-btn {
  background: #fff;
  color: #4b6e08;
}
.filter-section button.filter:hover {
  background: #fff;
  color: #4b6e08;
}
.bg-grey-2 {
  background: #efefef;
}
.item {
  position: relative;
  cursor: pointer;
}

.add-cart h3 {
  position: absolute;
  top: -5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 17px;
  background: #fff;
  padding: 4px 0;
  box-shadow: 0 2px 1px #e4e4e4;
  border-radius: 4px;
  width: 80%;
  text-align: center;
}
.filter-section .filter.active {
  background: #fff;
  color: #4b6e08;
}
.add-cart {
  position: relative;
  /* width: 300px; */
  height: 82px;
  /* margin: 0 auto; */
}
.item > img {
  width: 100%;
}
.items > img {
  width: 100%;
}
.add-cart h4 {
  background: #fff;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  padding: 0 10px;
  color: #c7c7c7;
  box-shadow: 0 4px 1px #e4e4e4;
  border-radius: 4px;
  transition: all 0.5s ease;
  cursor: pointer;
}
.add-cart h4:hover {
  color: #4b6e08;
}
/* .add-cart-2 h4 span{
    display: none;
}
.add-cart h4:hover span{
    display: block;
} */
.add-cart img {
  background: #fff;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  box-shadow: 0 4px 1px #e4e4e4;
  border-radius: 4px;
}

.add-cart-2 {
  display: none;
}
.item-1 {
  margin-bottom: 10px;
}
.item.active .add-cart,
.items.active .add-cart {
  display: none;
}
.item.active .add-cart-2,
.items.active .add-cart-2 {
  display: block;
}
.filter-box .items {
  margin-top: 15px;
}

.star {
  position: absolute;
  bottom: -13%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 5px;
}
.star i {
  background: #4b6e08;
  border-radius: 3px 3px 0 0;
  color: #fff;
  padding: 5px;
  font-size: 14px;
}
.offer {
  position: absolute;
  top: 5%;
  left: 18px;
  background: #4b6e08;
  padding: 15px;
  border-radius: 0 4px 4px 0;
}
.offer.offer-2 {
  left: 4px;
}
.offer p {
  color: #fff;
  transform: rotate(307deg);
  margin-top: 10px;
}
.filter li {
  height: auto;
  width: auto;
  text-indent: 0;
  background: transparent;
  color: #fff;
}
.filter-sec {
  position: relative;
}
.filter-sec .filter {
  position: absolute;
  top: -10%;
  left: 0;
  height: 26px;
  background: #4b6e08;
}
.phone-dec h1 {
  color: #4b6e08;
  font-size: 4rem;
  letter-spacing: 3px;
}
.phone-dec h4 {
  font-size: 2rem;
  font-weight: 700;
}
.phone-dec p {
  font-size: 24px;
  margin: 15px 0;
  color: #4b6e08;
}
.phone-dec p.para {
  color: #000;
  margin: 0;
  font-size: 14px;
}
.timer .box {
  background: #4b6e08;
  padding: 5px 0;
  margin-right: 10px;
  width: 80px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 4px 1px #4b6e08;
}
.timer .box span {
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
}
.timer .box p {
  color: #fff;
  font-size: 14px;
  margin: 0;
}
.offer-section {
  position: relative;
}
.offer-section .circle {
  position: absolute;
  top: 5%;
  left: 37%;
  height: 100px;
  width: 100px;
  background: #4b6e08;
  border-radius: 50%;
  text-align: center;
}
.offer-section .text strike {
  color: #cbcbcb;
  font-weight: 700;
  font-size: 18px;
}
.offer-section .text span {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}
.subscribe {
  background: url("./images/Subscribe\ background.png") rgba(154, 236, 0, 0.555);
  background-size: cover;
  background-blend-mode: multiply;
}
.subscribe form {
  width: 70%;
  margin: 0 auto;
}

.subscribe button {
  width: 30%;
  background: #d0dcb6;
  font-size: 20px;
}
.subscribe input {
  background: #d0dcb6;
  border: 2px solid #709b1d;
  width: 60% !important;
  font-size: 20px;
}
.desktop .add-cart img {
  height: 20px;
  box-shadow: none;
}
.brand-btn {
  background: #709b1d;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 18px;
  box-shadow: 0 4px 1px #5b8112;
}
.bg-light-grey {
  background: #f1f1f1;
}
.footer-heading {
  border-bottom: 1px solid #000;
}
.footer .links a {
  color: #000;
  font-size: 14px;
  line-height: 1.8;
  text-decoration: none;
}
.address p {
  font-size: 14px;
}
.bg-grey-1 {
  background: #e0e0e0;
}
.accept-btn {
  padding: 2px 10px;
}
.owl-prev {
  position: absolute;
  top: -75px;
  left: 2%;
  height: 40px;
  width: 40px;
  background: #fff !important;
}
.owl-prev span {
  font-size: 34px !important;
  position: relative;
  bottom: 8px;
}
.owl-next {
  position: absolute;
  top: -75px;
  right: 2%;
  height: 40px;
  width: 40px;
  background: #fff !important;
}
.owl-next span {
  font-size: 34px !important;
  position: relative;
  bottom: 8px;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
  color: #000 !important;
}
.dropdown{
  margin-top: 12px;
}
.navbar-nav .nav-link{
  padding-left: 10px;
}
@media screen and (max-width:991px){
  .dropdown{
    margin-top: 4px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 1100px !important;
  }
  .menu-2 a {
    padding: 8px 8px;
  }
  h5 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  .container {
    max-width: 907px !important;
  }
  .menu-2 a {
    font-size: 12px;
  }
  .menu-1 a {
    font-size: 12px;
    padding: 10px 10px;
  }
}
@media screen and (max-width: 992px) {
  .offer-section .circle {
    left: 60%;
  }
  .menu-2 a {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .search-input {
    width: 72%;
  }
}

@media screen and (max-width: 670px) {
  .carousel-item a {
    font-size: 10px;
    padding: 0 10px;
    left: 48%;
    letter-spacing: 1px;
  }
  .filter-section button{
    font-size: 12px;
    padding: 10px 5px;
    margin-right: 0;
  }
}
@media screen and (min-width:576px) and (max-width:767px){
  .container{
    max-width: 718px !important;
  }

}
@media screen and (max-width: 500px) {
  .subscribe button {
    font-size: 10px;
  }
  .subscribe input {
    font-size: 11px;
  }
  .brand-btn {
    font-size: 10px;
    padding: 2px 2px;
  }
  .star i {
    font-size: 10px;
  }
  .add-cart h3 {
    font-size: 10px;
  }
  h1 {
    font-size: 2rem;
  }
  .right p {
    font-size: 12px;
    text-align: center;
  }
  .navbar-toggler-icon{
    height: 1rem;
    width: 1rem;
  }
  .dropdown a{
    font-size: 12px;
  }
}
@media screen and (max-width: 426px) {
  ul li a.nav-link {
    font-size: 9px;
  }
}
@media screen and (max-width: 768px) {
  .carousel-indicators li {
    height: 10px;
    width: 10px;
  }
  .menu-2 a {
    font-size: 12px;
  }
  .carousel-item img{
    height: 290px;
  }
}
@media screen and (max-width: 360px) {
  .card-payment img {
    width: 40px;
  }
}
@media screen and (max-width:576px){
  form .name-form input{
    width: 100% !important;
    margin-bottom: 10px;
  }
  form .textarea textarea{
    width: 100% !important;
  }
  .name-form{
    margin-bottom: 0 !important;
  }
}